.mesajFlex{
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.mesaj{
    padding: 0.7rem;
    margin: 0.5rem;
    background:  #81c6f0;
    border-radius: 50px;
    text-align: center;
}