.mainContainer {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 2.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #ffffff33;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

dl {
  font-size: 1.25rem;
  line-height: 0.5rem;
}

dt {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
  margin: 1rem;
}

dd {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
}

.mainContainerNight {
  background: rgba(0, 0, 0, 0.2);
}

.aboutApp {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  /* .mainContainer {
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 0.5rem;
  } */


  dt{
    line-height: 2rem;
  }
}
