.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.placeholder {
  height: 7rem;
}

.servicesTitle {
  align-items: center;
  
}
.mainContainer {
  max-width: 1200px;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: #ffffff33;
  border-radius: 1rem;
  margin: 0 3rem 3rem 3rem;
  
}

@media (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    margin-bottom: 3rem;
    padding: 4rem 6rem 7rem 4rem;
  }

  .placeholder {
    height: 4rem;
  }
  .servicesTitle {
    text-align: center;
    margin: 0.5rem;
  }
  .services{
    margin:3rem 0;
  }
}
