.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1000;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

.toggleBtn {
  background: url("../../images/switchDayNight.png");
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .toggleBtn {
    width: 3rem;
    height: 4rem;
  }
}