.mainContainer {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 2.3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background: #ffffff33;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

/* .imagine {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
} */

.aboutApp {
  max-width: 100%;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.imagine {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 1rem;
}

.galleryWrapper {
  width: 100%;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 4rem;
  width: 3rem;
}

.image-gallery-index {
  display: none;
}

x {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #374957;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btnImg {
  width: 0.5rem;
  height: 0.5rem;
}

/* .customGalleryClass .image-gallery-left-nav .image-gallery-svg,
.custom-image-gallery .image-gallery-right-nav .image-gallery-svg {
  width: 1rem;
  height: 1rem;
} */

@media only screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
    margin: 1rem 0.5rem;
  }

  .aboutApp p,
  h1 {
    text-align: center;
    font-size: 1.2rem;
  }

  .aboutApp {
    padding: 0;
  }

  /* .imgSection {
    width: 100% !important;
  } */
}
